body{
    font-family: 'Josefin Sans', sans-serif !important;
}

/*GLOBAL*/
.text-app{color: #ee8572 !important;} .bg-app{background: #ee8572 !important;}

.rounded-app{
    border-radius: 15px !important;
}

.opcd{
    animation: .5s opcd alternate;
    z-index: 1000 !important;
}

.active{color: #ee8572 !important;}.active:hover{text-decoration: none;}

.btn-app{background: #ee8572 !important; color: white !important;}

a{color: #505050 !important;}a:hover{text-decoration: none !important;}

.z-index-app{z-index: -1;}
h1, h2, h3, h4, h5, h6{margin: 0 !important;}

@keyframes opcd {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/***************************/

/*LOGIN*/
.landing-page{
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
    overflow: hidden;
  }
  .landing-page::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./Images/bg-login.jpg) no-repeat;
    background-size: cover;
    opacity: .4;
    animation: anim 75s linear infinite;
}

@keyframes anim {
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.page-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    padding: 0 40px;
    box-sizing: border-box;
}
/************/

/*IMPRIMIR*/
/* @media print { 
    .no-printme  { display: none !important;}
    .printme  { display: block !important;}
} */